* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    transition: 0.3s;
}

.Navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 63, 131, 0.692);
    backdrop-filter: blur(10px);
    padding: 1rem 2rem;
    z-index: 100;
}

.left {
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.left img {
    width: 100%;
    height: 100%;
    filter: brightness(100);
}

.right {
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    gap: 1rem;
}

.right a {
    color: white;
    text-decoration: none;
}

.right a:hover {
    text-decoration: underline;
}

.HomePage {
    padding-top: 1rem;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(to top, white, rgba(0, 123, 255, 0.279));
}

.decoration {
    top: -20%;
    left: 20%;
    display: flex;
    position: absolute;
    background-color: blue;
    width: 30vw;
    height: 25vh;
    border-radius: 50%;
    z-index: -1;
}

.smkSpan{
    color: rgb(0, 123, 255);
}

.HeroCard {
    position: relative;
    width: 800px;
    background-color: white;
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid rgb(0, 63, 131);
    box-shadow: 0 4px 10px rgba(0, 63, 131, 0.173);
}

.HeroCard h1 {
    font-size: 2.5rem;
}

.HeroCard a {
    color: blue;
    text-decoration: none;

}

.ProgramKeahlian {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 2rem;
    align-items: start;
    height: 100vh;
}

.ProgramKeahlian h1 {
    font-size: 2.3rem;
}

.Pengumuman h1 {
    font-size: 2.3rem;
}

.programCards {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem;
    background-color: rgba(0, 63, 131, 0.084);
    padding: 1.5rem;
    border-radius: 1rem;
    gap: 1rem;
    border: 1px solid rgb(0, 63, 131);
    box-shadow: 0 4px 10px rgba(0, 63, 131, 0.173);
}

.ProgramCard:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.145);
}

.ProgramCard {
    background: white;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(0, 63, 131, 0.145);
}

.ProgramCard button {
    border: none;
    background-color: rgba(0, 63, 131, 0.184);
    padding: 0.5rem 1rem;
    border-radius: .5rem;
}

.Pengumuman {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: end;
    height: 100%;
    padding: 2rem;
    background: linear-gradient(to bottom, white, rgba(0, 123, 255, 0.279));
    padding-bottom: 10rem;

}

.pengumumanCards {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(0, 63, 131, 0.084);
    padding: 1.5rem;
    border-radius: 1rem;
    gap: 1rem;
    border: 1px solid rgb(0, 63, 131);
    box-shadow: 0 4px 10px rgba(0, 63, 131, 0.173);
}

.PengumumanCard {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    min-height: 250px;
    max-width: 390px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.PengumumanCard:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.145);
}

.pengumumanTop {
    padding: .5rem;
    border-radius: 1rem;
}

.pengumumanBottom {
    background-color: rgba(0, 63, 131, 0.06);
    padding: 1rem;
    border-radius: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;

}

.pengumumanBottom button {
    border: none;
    background-color: rgba(0, 63, 131, 0.184);
    padding: 0.5rem 1rem;
    border-radius: .5rem;
    width: 100%;
    display: flex;
    align-items: end;
    margin-top: 1rem;
}

.Footer {
    background-color: rgba(0, 63, 131, 0.696);
    padding: 1rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-top: 3px solid rgb(0, 123, 255);
}

.hide {
    display: none;
}

@media (max-width:500px) {
    .ProgramCard {
        padding: 1.5rem;
        gap: 1rem;
    }

    .links {
        display: flex;
        gap: .5rem;
    }

    .Navbar {
        padding: 1rem;
    }

    .hide {
        display: block;
    }

    .programLink {
        display: none;
    }

    .ProgramKeahlian h1 {
        font-size: 1.8rem;
    }

    .Pengumuman h1 {
        font-size: 1.8rem;
    }

    .HeroCard h1 {
        font-size: 2.2rem;
    }
}

@media (max-width:800px) {
    .decoration {
        display: none;
    }
}